<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AFNManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>611CD7DB1F0B34CD0002F03C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>611CD7F41F0B34CD0002F03C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>611CD7FF1F0B34CD0002F03C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
